
// COLORS
// ------------------------------------------------------------------------------------------

$white: #FFFFFF;
$purple: #552448;
$black: #000000;
$gray: #666666;
$gray-light: #b0b0b0;

$bhhs-gray-dark: #828182;
$bhhs-gray-light: #d0d0d0;

$blue: blue;
$red: red;
$yellow: yellow;
$blue-light: green;

$primary-color: #552448;
$secondary-color: #393739;  
$tertiary-color: #000000;  
$quaternary-color: #ffffff; 

$site-branding: bh;
//$site-branding: remax;
//$site-branding: ind;
