

// HOME
// ------------------------------------------------------------------------------------------


//HERO PHOTOS
// ------------------------------------------------------------------------------------------
.rn-home-hero {

  width: 100%;
  height: rem-calc(400);

  .rn-home-hero-slide {

    width: 100%;
    height: rem-calc(400);
    background-repeat: no-repeat;
    background-position: center;
  }
}